<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2015 IRCCloud, Ltd.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.irccloud.android"
    android:installLocation="auto">

    <uses-sdk tools:overrideLibrary="android.support.customtabs, com.datatheorem.android.trustkit, android.support.text.emoji, android.support.text.emoji.bundled" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <permission
        android:name="${applicationId}.permission.BROADCAST"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="${applicationId}.permission.BROADCAST" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" tools:ignore="ProtectedPermissions" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".IRCCloudApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/dawn"
        android:extractNativeLibs="true"
        android:largeHeap="true">
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.enable"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.multiinstance.enable"
            android:value="false" />
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="320dp" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="400dp" />
        <meta-data
            android:name="com.lge.support.SPLIT_WINDOW"
            android:value="true" />
        <meta-data
            android:name="search-engine"
            android:resource="@xml/noindex" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="uiMode">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="irc" />
                <data android:scheme="ircs" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="irc" />
                <data android:scheme="ircs" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cid"
                    android:scheme="@string/IRCCLOUD_SCHEME" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.irccloud.com"
                    android:path="/invite"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".MainActivity"
            android:exported="true"
            android:targetActivity=".activity.MainActivity" />

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="chat"
                    android:path="/access-link"
                    android:scheme="@string/IRCCLOUD_SCHEME" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="referral"
                    android:scheme="@string/IRCCLOUD_SCHEME" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.irccloud.com"
                    android:path="/chat/access-link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EditConnectionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".activity.ReorderActivity"
            android:exported="false"/>
        <activity
            android:name=".activity.ImageViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_imageviewer"
            android:exported="false"
            android:theme="@style/ImageViewerTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/IMAGE_SCHEME" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/IMAGE_SCHEME_SECURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_video_player"
            android:exported="false"
            android:theme="@style/ImageViewerTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/VIDEO_SCHEME" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/VIDEO_SCHEME_SECURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PastebinViewerActivity"
            android:label="@string/title_activity_pastebin"
            android:theme="@style/dawnDialogWhenLarge">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/PASTE_SCHEME" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.irccloud.com"
                    android:pathPrefix="/pastebin"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PreferencesActivity"
            android:label="@string/menu_settings"
            android:theme="@style/dawnDialogWhenLarge">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UploadsActivity"
            android:label="@string/title_activity_uploads"
            android:exported="false"
            android:theme="@style/dawnDialogWhenLarge"/>
        <activity
            android:name=".activity.PastebinsActivity"
            android:label="@string/title_activity_pastebins"
            android:exported="false"
            android:theme="@style/dawnDialogWhenLarge"/>
        <activity
            android:name=".activity.AvatarsActivity"
            android:label="@string/title_activity_avatars"
            android:exported="false"
            android:theme="@style/dawnDialogWhenLarge"/>
        <activity
            android:name=".activity.LogExportsActivity"
            android:label="@string/title_activity_exports"
            android:exported="true"
            android:theme="@style/dawnDialogWhenLarge">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.irccloud.com"
                    android:pathPrefix="/log-export"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <service
            android:name=".FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".NotificationDismissBroadcastReceiver"
            android:permission="${applicationId}.permission.BROADCAST">
        </receiver>

        <receiver
            android:name=".MarkAsReadBroadcastReceiver"
            android:permission="${applicationId}.permission.BROADCAST">
        </receiver>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="${CRASHLYTICS_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.ImgurAuthActivity"
            android:label="@string/title_activity_imgur_auth"
            android:exported="false"
            android:theme="@style/ImgurAuthTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SAMLAuthActivity"
            android:exported="false"
            android:theme="@style/dawn"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PastebinEditorActivity"
            android:exported="false"
            android:theme="@style/dawnDialogWhenLarge"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <service
            android:name=".RemoteInputService"
            android:permission="${applicationId}.permission.BROADCAST">
            <intent-filter>
                <action android:name="${applicationId}.ACTION_REPLY" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.ShareChooserActivity"
            android:excludeFromRecents="true"
            android:theme="@style/dawnDialog">
            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value="androidx.sharetarget.ChooserTargetServiceCompat" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.QuickReplyActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/dawnDialog"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize"/>

        <activity android:name=".activity.BubbleActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/LaunchTheme"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"/>

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${CRASHLYTICS_KEY}" />

        <!-- <service android:name=".CrashlyticsLeakService" /> -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".ChromeCopyLinkBroadcastReceiver"
            android:enabled="true"/>
        <receiver
            android:name=".DownloadCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>