<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.irccloud.android"
    android:installLocation="auto"
    android:versionCode="6"
    android:versionName="1.0.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <permission android:name="com.irccloud.android.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <permission android:name="com.irccloud.android.permission.BROADCAST" android:protectionLevel="signature" />
   	<uses-permission android:name="com.irccloud.android.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.irccloud.android.permission.BROADCAST" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.sonyericsson.extras.liveware.aef.EXTENSION_PERMISSION"/>

    <application
        android:name=".IRCCloudApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="false">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
               	<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="irc" />
				<data android:scheme="ircs" />
			</intent-filter>
        </activity>
        <activity
            android:name=".MessageActivity"
            android:label="@string/title_activity_message"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".EditConnectionActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".PreferencesActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		    <intent-filter>
		       <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
		       <category android:name="android.intent.category.DEFAULT" />
		    </intent-filter>
   		</activity>
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
		  <intent-filter>
		    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		    <category android:name="com.irccloud.android" />
		  </intent-filter>
		</receiver>
		<service android:name=".GCMIntentService" />
        <receiver android:name="NotificationDismissBroadcastReceiver" android:permission="com.irccloud.android.permission.BROADCAST">
		  <intent-filter>
		    <action android:name="com.irccloud.android.DISMISS_NOTIFICATION" />
			<data android:scheme="irccloud-dismiss" />
		  </intent-filter>
		</receiver>

        <service android:name="SonyExtensionService" />

        <receiver android:name="SonyExtensionReceiver">
            <intent-filter>
                <!-- Generic extension intents. -->
                <action android:name="com.sonyericsson.extras.liveware.aef.registration.EXTENSION_REGISTER_REQUEST" />
                <action android:name="com.sonyericsson.extras.liveware.aef.registration.ACCESSORY_CONNECTION"/>
                <action android:name="android.intent.action.LOCALE_CHANGED" />

                <!-- Notification intents -->
                <action android:name="com.sonyericsson.extras.liveware.aef.notification.VIEW_EVENT_DETAIL"/>
                <action android:name="com.sonyericsson.extras.liveware.aef.notification.REFRESH_REQUEST"/>
            </intent-filter>
        </receiver>

        <service android:name=".DashClock"
                 android:icon="@drawable/ic_stat_notify"
                 android:label="IRCCloud"
                 android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>
            <meta-data android:name="protocolVersion" android:value="1" />
            <meta-data android:name="description"
                       android:value="Displays your unread IRC highlights" />
        </service>
	</application>

</manifest>